<script src="/app.js"></script>
<link rel="stylesheet" href="/style.css">

<h1>Designed Page!</h1>
<p> Here is design page <%= @user %></p>
<ul>
  <li><a href='/'>Top</a></li>
  <li><a href='/hello'>Hello</a></li>
  <li><a href='/place/lagoon'>Place</a></li>
</ul>
